.title {
  color: var(--color-text);
  font-family: "montserrat-alternate";
  text-align: center;
  padding-top: 2.5rem;
  z-index: 100;
}

.section {
  --margin: 3.5rem;

  margin-top: 2.5rem;
  margin-left: auto;
  margin-right: auto;
  padding: 2.5rem 2rem;

  width: 100%;
  max-width: 1200px;

  display: grid;
  grid-template-columns: repeat(3, minmax(15rem, 1fr));
  grid-template-rows: repeat(2, minmax(12rem, 19rem));
  grid-auto-rows: minmax(12rem, 19rem);
  gap: 2rem 0;

  place-items: center;
}

@media (max-width: 935px) {
  .section {
    grid-template-columns: repeat(2, minmax(15rem, 1fr));
  }
}

@media (max-width: 600px) {
  .section {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    padding: 2rem 1rem;
  }
}
